body {
  background-color: #cbf1f5;
}
.body-container {
  display: flex;
  flex-direction: row !important;
}
.btn-round-g {
  border-radius: 50% !important;
}

.header-all {
  color: #ffff;
  background-color: #061019;
}
.nav-link {
  color: #ffe2e2;
}
.navbar-brand {
  color: #ffe2e2;
}
/* 

  #CBF1F5 thin gray
  #FFE2E2 pink creme
*/
