body {
  background-color: #cbf1f5;
}
.body-container {
  display: flex;
  flex-direction: row !important;
}
.btn-round-g {
  border-radius: 50% !important;
}

.header-all {
  color: #ffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"),
    linear-gradient(#5f2c82, #49a09d);
}

.nav-link {
  color: #f6f6f6;
}
.navbar-brand {
  color: #f6f6f6;
}
.centered-col {
  margin: auto;
}
h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Rubik", sans-serif;
}
h3.typewriter-text {
  font-size: 40px;
}
.react-icon {
  font-size: 40px;
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main TOP */
.cardMain {
  height: 230px;
}
/* 

  #CBF1F5 thin gray
  #FFE2E2 pink creme
  #112D4E some blue
*/
